name: Deploy

on:
  push:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v2

      - name: 'Use Node.js'
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: 'Create .env.test file'
        run: |
          echo "DATABASE_URL=postgresql://postgres:password@localhost:5433/finance-app" >> .env.test
          echo "JWT_ACCESS_TOKEN_SECRET=secret" >> .env.test
          echo "JWT_REFRESH_TOKEN_SECRET=secret2" >> .env.test

      - name: 'Temporary .env for Prisma'
        run: cp .env.test .env

      - name: 'Install dependencies'
        run: npm ci --include=dev

      - name: 'Eslint'
        run: npm run eslint:check

      - name: 'Prettier'
        run: npm run prettier:check

      - name: 'Tests'
        run: npm run test

  migrate:
    runs-on: ubuntu-latest
    needs: check
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Make envfile
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_DATABASE_URL: ${{ secrets.DATABASE_URL }}

      - name: Install dependencies
        run: npm ci --include=dev

      - name: Run migrations
        run: npx prisma migrate deploy

  deploy: 
    runs-on: ubuntu-latest
    needs: migrate
    environment: production

    steps: 
       - name: Checkout code
         uses: actions/checkout@v2


       - name: Deploy to production
         env:
            deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
         run: |
            curl "$deploy_url"
        



